
@font-face {
font-family: 'Averta PE';
src: url('My_Fontspring_Fonts/Fonts/avertape-regular.otf'),
    url('My_Fontspring_Fonts/Webfonts/avertape_regular_macroman/avertape-regular-webfont.woff2') format('woff2'),
    url('My_Fontspring_Fonts/Webfonts/avertape_regular_macroman/avertape-regular-webfont.woff') format('woff');
}
@font-face {
font-family: 'Averta PE bolded';
src: url('My_Fontspring_Fonts/Fonts/avertape-bold.otf'),
    url('My_Fontspring_Fonts/Webfonts/avertape_bold_macroman/avertape-bold-webfont.woff2') format('woff2'),
    url('My_Fontspring_Fonts/Webfonts/avertape_bold_macroman/avertape-bold-webfont.woff') format('woff');
}
body{
  margin: 0;
}
html{
  font-size: 16px;
  font-family: Averta PE;
}
html ul{
  list-style: none;
}
.content-section{
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-row-gap: 205px;
}
.content-section svg, .center-content svg{
  z-index: -1;
}

a{
  color: black;
  text-decoration: none;
}
svg{
  position: relative;
   top: 0.35rem
}
h3{
  font-size: 2rem;
 text-align: center;
 font-family: Averta PE bolded;
 font-weight: normal;
}
/* ios input */
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
.title{
  padding: 4rem;
}
/* HEADER */
header ul{
  white-space: nowrap;
  display: flex;
  margin-top: 0;
  font-family: Averta PE bolded;
  padding: 20px;
  align-items: center;
  background-color: white;
  margin: 0;
}
header ul li:first-child{
  margin-right: auto;
}
header ul li a{
  padding: 2rem;
  color: black;
}
header ul li a:hover{
  color: #19568E;
}
.fixed {
position:fixed;
background-color: white;
width: 100%;
transition: 1s ease;
top: -3px;
}
.fixed ul li a{
  color: black;
}
/* SIDEMENU */
.hided{
  display: none;
}
/* SHOWCASE */
.main-container h1{
  line-height: 72px;
  font-size: 4rem;
  font-family: Averta PE bolded;
  color: white;
  margin-top: 0;
  white-space: nowrap;
  font-weight: normal;
}
.main-container{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 50px;
  padding-bottom: 50px;

}
.first{
  justify-self: center;
}
.main-container p{
  line-height: 32px;
  font-size: 20px;
}
.find-button{
  padding: 1rem 4rem;
  font-size: 1rem;
  font-family: Averta PE bolded;
  line-height: 2rem;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  background-color: white;
  color: #1474CC;
}
.find-button:hover{
  cursor: pointer;
}
.background-wrapper{
  background-image: url(imgs/gdzie_zaczac.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(20, 116, 204, 0.8);
  background-image: url(imgs/gdzie_zaczac.jpg);
  margin-bottom: 140px;
}
.tablet-img{
  align-self: center;
}
/* CENTER CONTENT */
/* .center-content p{
  text-align: center;
} */
  .center-content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .center-content h3{
    text-align: center;
  }
   .center-content p{
     display: grid;
     grid-template-columns: 1fr;
    font-size: 18px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 3%;
    line-height: 28px;
  }
  .first-text{
    font-family: Averta PE bolded;
  }
  /* MIDDLE TEXT SECTION  */
  .middle-text-first{
    margin-left: 20%;
  }
  .middle-text-section .middle-text-first img{
    float: left;
    margin: 0 80px 20px 0;
  }
  .middle-text-section .middle-text-first p{
    margin-right:32%;
    line-height: 28px;
  }
  .middle-text-section .middle-text-second p{
    font-family: Averta PE bolded;
    margin-left: 40%;
    margin-right: 5rem;
    line-height: 36px;
    font-size: 24px;
  }
  .middle-text-section .middle-text-second img{
    align-self: center;
  }
/* CONTENT SECTION */
.text-container h3{
  text-align: left;
  font-family: Averta PE bolded;
}
.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}
.content-1 .content-img{
  justify-self: end;
}
.content-img{
  align-self: center;
}
.content-img img{
  width: 100%;
  border-radius: 8px;
}
.text-container{
  margin: 75px;
  margin-top: 0;
  margin-bottom: 0;

}
.text-container p{
  font-size: 18px;
  line-height: 28px;
}
.text-container ul li{
  line-height: 28px;
  display: grid;
  grid-template-columns: 1fr 11fr;
  margin-bottom: 10px;
}
.text-container ul li svg{
  top: 3px;
}
.text-container ul{
  padding-left: 0;
}
.content > :nth-child(1){
  order: 1;
}
.content > :nth-child(2){
  order: 2;
}
.content-2 > :nth-child(1){
  order: 2
}
.content-2 > :nth-child(2){
  order: 1
}
/* PROFILES SECTION */

.profile-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10rem;

}
.profile {
  text-align: center;
}
.profile p{
  text-align: left;
  margin-left: 2rem;
}
.profile p:first-of-type{
  text-align: left;
  margin-left: 2rem;
  /* margin-top: -2rem; */
  line-height: 2rem;
  border-top: 4px solid #0AC6FF;
}
.profile p:nth-of-type(2){
  font-family: Averta PE bolded;
}
.profile svg{
  display: block;
  text-align: center;
}
/* CONTACT */
.contact ul li{
  color: #2F2F2F;
  font-family: Averta PE bolded;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.contact ul li svg{
  margin-right: 1rem;
}
.contact-bottom-text{
color: #7C7C7C;
font-size: 14px !important;
font-weight:normal;
padding-top: 1rem;
}
/* FAQ */
.faq-wrapper{
  margin-right: 20%;
  margin-left: 20%;
  line-height: 28px;
  color: #2F2F2F;
}
.faq-content ul li:first-of-type{
  color: #2F2F2F;
  line-height: 32px;
  font-size: 20px;
  font-family: Averta PE bolded;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.img-contact{
  align-self: end;
}

/* MAP */
.map-section{
  display: grid;
  grid-template-columns: 1fr;
  background-image: url(imgs/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  margin-right: 24px;
  margin-left: 24px;
  box-shadow: inset 0 0 0 1000px rgba(10, 198, 255, 0.4);
  border-radius: 8px;
}
.map-p{
  text-align: center;
  margin: 16px;
  font-size: 18px;
  margin-bottom: 40px;
}
.map-p span{
  color: #1474CC;
  font-family: Averta PE bolded;
  font-size: 18px;
}
.input-container{
  text-align: center;
  margin-top: 160px;
}
.input-container input[type="text"], .input-container input[type="button"] {
  margin: 0;
  width: 311px;
  padding: 15px;
  border: none;
  font-family: Averta PE;
  line-height: 24px;
  font-size: 16px;
  border-radius: 8px;
}
.input-container input[type="text"]{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-container input[type="button"]{
  width: 400px;
  background-color: #1474CC;
  color: white;
  margin: 0;
}
.input-container input[type="button"]:hover{
  cursor: pointer;
}
/* WROTE ABOUT US */
.about-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10rem;
  text-align: center;
  font-family: Averta PE bolded;
  line-height: 32px;
  font-size: 20px;
  margin-bottom: 4rem;
}
.about p:nth-of-type(2){
  line-height: 22px;
  font-size: 14px;
  color: #7C7C7C;
  font-weight: normal;
}
/* FOOTER */
.footer-icons-container{
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12rem;
}
footer{
  white-space: nowrap;
  background: #1474CC;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  margin-top: 6rem;
}
.footer-contact{
  line-height: 40px;
font-size: 24px;
font-family: Averta PE bolded;
}
hr{
  opacity: 0.2;
  width: 85%;
}
footer a{
  color: #FFFFFF;
}
.copyright{
  padding: 20px;
  font-size: 0.8rem;
  margin-bottom: 0;
}
footer .bottom-navigation ul{
display: flex;
justify-content: center;
padding: 2rem;
}
footer ul li a{
  padding: 2rem;
}
.icon-footer:first-of-type{
  justify-self: end;
}
.icon-footer:last-of-type{
  justify-self: start;
}
/* GOOGLE MAP */
#content{
  font-family: Averta PE;
}
#firstHeading{
  font-size: 14px;
  margin: 0;
}
#bodyContent{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
  justify-items: center;
}
/* MEDIA */
@media (max-width: 800px){
  .f-right{
    float: right;
  }
  .first{
    padding: 0;
  }
  #wrapper{
   margin: 0;
  }
  .background-wrapper{
    padding-bottom: 0;
    margin-bottom: 0;
  }
  header img{
    width: 230px;
    margin-right: 30px;
  }
  .main-container{
    text-align: left;
    grid-template-columns: 1fr;
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;

  }
  .main-container h1{
    font-size: 47px;
    line-height: 52px;
    white-space: normal;
  }
  .main-container svg{
    left: -0.65rem;
  }
  .content > :nth-child(1){
    order: 2;
  }
  .content > :nth-child(2){
    order: 1;
  }
  .content-2 > :nth-child(1){
    order: 2;
  }
  .content-2 > :nth-child(2){
    order: 1;
  }
  .button-container{
    flex-direction: column;
  }
  .video-button{
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .find-button{
    display: block;
    margin: 60px;
    margin-top: 32px;
    width: 100%;
    padding: 16px 44px;
    margin-left: 0;
  }
  .input-container input[type="button"], .input-container input[type="text"]{
    border-radius: 4px;
    width: auto;
  }
  .title h3{
    text-align: left;
    margin-left: 16px;
  }
  .map-p{
    text-align: left;
  }
  .map-section{
    margin-right: 16px;
    margin-left: 16px;
  }
  .content{
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 96px;
  }
.center-content h3{
    margin: 10px;
}
.content-img img{
  width: 100%;
}
.content{
  margin-bottom: 0;
}
.content-section{
  margin: 0;
  grid-row-gap: 0;
}
  .content-section img, .tablet-img img, .center-content img, .middle-text-section .middle-text-second img, .middle-text-section .middle-text-first img{
    width: 100%;
  }
  .text-container button, .center-content p, .middle-text-section .middle-text-second p, .middle-text-first, .middle-text-section .middle-text-first p{
    margin: 1rem;
    margin-bottom: 2rem;
  }
  .middle-text-section .middle-text-second img{
    margin: 0;
  }
  .profile-container{
    grid-template-columns: 1fr;
    grid-gap: 5rem;
}
.about-container{
  grid-template-columns: 1fr;
  grid-gap: 5rem;
  margin-left: 1rem;
}
.about-container p{
  text-align: left;
}
.faq-content ul{
  padding: 0;
  margin: 10px;
}
.footer-icons-container{
  padding: 32px;
  grid-template-columns: 1fr;
  grid-gap: 0;
}
.bottom-navigation{
  margin-right: 32px;
    margin-left: 32px;
}
footer ul li a{
  padding: 0;
}
.icon-footer:first-of-type{
  justify-self: center;
}
.icon-footer:last-of-type{
  justify-self: center;
}
footer .bottom-navigation ul{
flex-direction: column;
}
footer .bottom-navigation ul li{
padding: 1rem;
text-align: left;
}
/* HELP */
.faq-wrapper{
  margin: 0;
  margin-left: 10px;
}
.img-contact{
  max-width: 100%;
}
.title{
  padding: 0;
}
.text-container {
  margin: 0;
}
/* SIDEMENU */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 65px;
    width: 100%;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    transition: 0.3s;
    text-align: left;
    color: black;
  }
  .overlay li{
    padding: 20px;
  }
  .overlay li:first-of-type{
    margin-bottom: 80px;
  }
  .overlay ul{
    padding: 0;
  }

.overlay a:hover, .overlay a:focus {
    color: #19568E;
}

.overlay .closebtn {
  font-size: 40px;
    float: right;
    margin-right: 16px;
}
.hided{
  display:block;
  margin-left: 16px;
    margin-right: 16px;
  margin-top: 20px;
}
.hided img{
  width: 200px;
  margin-top: 8px;
}
header ul{
flex-direction: column;
align-items: start;
}
header ul li:first-child{
  display: none;
}
.tablet-img img{
  width: 100%;
}
}
@media(min-width: 800px) and (max-width: 1024px){
  .content-img img{
    width: 100%;
  }
  header ul li a{
    padding: 1rem;
  }
  #logo-change{
    width: 200px;
  }
  .content-img{
    align-self: start;
  }
  .content-section{
    margin: 0;
  }
  .tablet-img img{
    width: 100%;
  }
  .center-content p{
    margin: 10%;
  }
  .middle-text-section .middle-text-first img{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .middle-text-first{
    margin: 0;
  }
  .middle-text-section .middle-text-first p{
    margin: 10%;
  }
  .middle-text-section .middle-text-second p{
    margin: 0;
    margin-left: 10%;
  }
}
@media(min-width: 1024px) and (max-width: 1440px) {
  .content-img img{
    width: 100%;
  }
  .content-img{
    align-self: start;
  }
  #wrapper{
    margin: 0;
  }
  .main-container h1, .find-button{
    margin-left: 30px;
  }
  .text-container{
    margin-top: 0;
  }
}
