
@font-face {
font-family: 'Averta PE';
src: url('My_Fontspring_Fonts/Fonts/avertape-regular.otf'),
    url('My_Fontspring_Fonts/Webfonts/avertape_regular_macroman/avertape-regular-webfont.woff2') format('woff2'),
    url('My_Fontspring_Fonts/Webfonts/avertape_regular_macroman/avertape-regular-webfont.woff') format('woff');
}
@font-face {
font-family: 'Averta PE bolded';
src: url('My_Fontspring_Fonts/Fonts/avertape-bold.otf'),
    url('My_Fontspring_Fonts/Webfonts/avertape_bold_macroman/avertape-bold-webfont.woff2') format('woff2'),
    url('My_Fontspring_Fonts/Webfonts/avertape_bold_macroman/avertape-bold-webfont.woff') format('woff');
}
body{
  margin: 0;
}
html{
  font-size: 16px;
  font-family: Averta PE;
}
html ul{
  list-style: none;
}
textarea:focus, input:focus{
    outline: none;
}
.content-section{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 80px;
}
.content-section img{
  border-radius: 8px;
}
a{
  color: black;
  text-decoration: none;
}
svg{
  position: relative;
   top: 0.35rem
}
h3{
 font-size: 2rem;
 text-align: center;
 font-family: Averta PE bolded;
 font-weight: normal;
}
/* ios input */
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
.title{
  margin-top: 100px;
}
/* HEADER */
header ul{
  white-space: nowrap;
  display: flex;
  margin-top: 0;
  font-family: Averta PE bolded;
  padding: 20px;
  align-items: center;
  background-color: white;
  margin: 0;
  z-index: 100;
}
header ul li:first-child{
  margin-right: auto;
}
header ul li a{
  padding: 2rem;
}
header ul li a:hover{
  color: #19568E;
}
/* SIDEMENU */
.hided{
  display: none;
}
/* SHOWCASE */
h1{
  line-height: 72px;
  font-size: 3rem;
  font-family: Averta PE bolded;
}
.main-container{
  text-align: center;
display: grid;
grid-template-columns: 1fr;
padding-top: 50px;
padding-bottom: 50px;
margin-bottom: 32px;

}
.main-container p{
  line-height: 32px;
  font-size: 20px;
}
.button-container{
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.main-container h1{
  line-height: 72px;
font-size: 4rem;
font-family: Averta PE bolded;
color: white;
margin-top: 0;
white-space: nowrap;
font-weight: normal;
}
.first{
  justify-self: center;
}
.button-container button, .text-container button{
  padding: 1rem 4rem;
  font-size: 1rem;
  font-family: Averta PE;
  line-height: 2rem;
  border-radius: 4px;
}
.video-button{
  box-sizing: border-box;
  border: 2px solid #1474CC;
  background-color: #1474CC;
  color: white;
  margin-right: 1rem;
}
.video-button:hover{
  cursor: pointer;
}
.find-button{
  box-sizing: border-box;
  border: 2px solid #1474CC;
  background-color: white;
  color: #1474CC;
  margin-left: 1rem;
}
.find-button:hover{
  background-color: #1474CC;
  color: white;
  cursor: pointer;
}
.down-arrow{
  padding: 4rem;
}
.down-arrow:hover{
  cursor: pointer;
}
.background-wrapper {
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(20, 116, 204, 0.8);
    background-image: url(imgs/gdzie_zaczac.jpg);
  }
/* CONTENT SECTION */
.text-container h3{
  text-align: left;
  font-family: Averta PE bolded;
}
.content-section{
  display: grid;
  grid-row-gap: 10rem;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}
.text-container p{
  font-size: 18px;
  line-height: 28px;
}
.text-container ul li{
  line-height: 28px;
}
.text-container ul{
  padding-left: 0;
}
/* PROFILES SECTION */

.profile-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10rem;

}
.profile {
  text-align: center;
}
.profile p{
  text-align: left;
  margin-left: 2rem;
}
.profile p:first-of-type{
  text-align: left;
  margin-left: 2rem;
  /* margin-top: -2rem; */
  line-height: 2rem;
  border-top: 4px solid #0AC6FF;
}
.profile p:nth-of-type(2){
  font-family: Averta PE bolded;
}
.profile svg{
  display: block;
  text-align: center;
}
/* CONTACT */
.contact{
  text-align: center;
}
.contact p{
  font-size: 18px;
}
.contact ul{
  padding-left: 0;
}
.contact ul li{
  color: #2F2F2F;
  font-family: Averta PE bolded;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  white-space: nowrap;

}
.contact ul li svg{
  margin-right: 1rem;
  z-index: -1;
}
.phone-svg{
  position: relative;
  right: 12px
}
.phone-span{
  position: relative;
  left: -10px;
  top: -5px;
}
.contact-bottom-text{
color: #7C7C7C;
font-size: 14px !important;
font-weight:normal;
padding-top: 1rem;
}
/* CATEGORIES */
#category-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 45px 100px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  justify-items: center;
  margin-bottom: 88px;
}
.category-icon{
  display: grid;
  grid-gap: 10px;
  cursor: pointer;
}
.category-icon > svg{
  justify-self: center;
}
.category-icon > span{
  text-align: center;
  line-height: 24px;
  font-family: Averta PE bolded;
}
.title-category{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  margin-top: -80px;
}
.title-category > h3{
  text-align: left !important;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 50px;
}
.first-title h3{
  margin-top: 0 !important;
  margin-bottom: 50px;
}
/* FAQ */
.faq-wrapper{
  line-height: 28px;
  color: #2F2F2F;
}
.faq-wrapper svg{
  z-index: -1;
}
.faq-content ul{
  padding: 0;
}
.img-contact{
  width: 100%;
}
.back-href_container p {
  color:#0645AD;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bolder;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.err-content{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
/* MAP */
.map-section{
  display: grid;
  grid-template-columns: 1fr;
  background-image: url(imgs/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  margin-right: 24px;
  margin-left: 24px;
  box-shadow: inset 0 0 0 1000px rgba(10, 198, 255, 0.4);
  border-radius: 8px;
}
.map-p{
  text-align: center;
  margin: 16px;
  font-size: 18px;
  margin-bottom: 40px;
}
.map-p span{
  color: #1474CC;
  font-family: Averta PE bolded;
  font-size: 18px;
}
.map-input-container{
  text-align: center;
margin-top: 160px;
}
.map-input-container input[type="button"]{
  width: 400px;
    background-color: #1474CC;
    color: white;
    margin: 0;
    padding: 15px;
    border: none;
    font-family: Averta PE;
    line-height: 24px;
    font-size: 16px;
    border-radius: 8px;
}
.input-container{
  text-align: center;
  display: inline-flex;
}
.input-container input[type="search"], .input-container input[type="button"] {
  margin: 0;
  width: 460px;
  padding: 15px;
  border: 2px solid white;
  font-family: Averta PE;
  line-height: 24px;
  font-size: 16px;
  /* border-radius: 4px; */
}
#search-button{
  margin-left: -6px;
}
.input-container input[type="search"]{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.input-container input[type="button"]{
  width: 145px;
  background-color: #1474CC;
  color: white;
  margin: 0;
  border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.input-container input[type="button"]:hover{
  cursor: pointer;
}
/* WROTE ABOUT US */
.about-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10rem;
  text-align: center;
  font-family: Averta PE bolded;
  line-height: 32px;
  font-size: 20px;
  margin-bottom: 4rem;
}
.about p:nth-of-type(2){
  line-height: 22px;
  font-size: 14px;
  color: #7C7C7C;
  font-weight: normal;
}
/* FOOTER */
.footer-icons-container{
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12rem;
}
footer{
  white-space: nowrap;
  background: #1474CC;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  margin-top: 6rem;
}
.footer-contact{
  line-height: 40px;
font-size: 24px;
font-family: Averta PE bolded;
}
hr{
  opacity: 0.2;
  width: 85%;
}
footer a{
  color: #FFFFFF;
}
.copyright{
  padding: 20px;
  font-size: 0.8rem;
  margin-bottom: 0;
}
footer .bottom-navigation ul{
display: flex;
justify-content: center;
padding: 2rem;
}
footer ul li a{
  padding: 2rem;
}
.icon-footer:first-of-type{
  justify-self: end;
}
.icon-footer:last-of-type{
  justify-self: start;
}
/* REGULAMIN */
.faq ul li span{
  color: #1474CC;
  font-family: Averta PE bolded;
}
.rule-desc{
  color: #7C7C7C;
  font-size: 14px !important;
  font-weight:normal;
  margin: 0;
  margin-left: 400px;
  margin-right: 400px;
  padding: 0;
}
.regulamin-wrapper{
  width: 50%;
  margin: auto;
}
.regulamin-wrapper .title h3{
  margin-left: 0;
}
/* MAPBOX POPUP */
#content{
  font-family: Averta PE;
  white-space: nowrap;
}
#firstHeading{
  font-size: 17px;
  margin: 0;
  margin-bottom: 8px;
  color: black;
}
#bodyContent{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  white-space: nowrap;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  color: #2F2F2F;
}
.uslugi ul{
  padding: 0;
  margin: 0;
}
.uslugi li{
  padding: 0;
  margin: 0;
}
.uslugi p{
  margin-bottom: 0;
}

/* ROZWIJANE */
.acc-container{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
.accordion {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 24px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family: Averta PE;
    border: none;
    border-top: 2px solid #EBEBEB;
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
}
.accordion:nth-of-type(1){
  border-top: none;
}
.accordion:last-of-type{
  border-bottom: none;
}
.accordion:after {
    content: url("imgs/arrow_down.svg");
    float: right;
    margin-left: 5px;
}
.active:after {
    content: url("imgs/arrow_up.svg");
}
.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
}
.panel ul{
  padding: 0;
}
.panel ul li{
  display: grid;
  grid-template-columns: 1fr 14fr;
  justify-self: center;
}
.panel img{
  /* margin-left: 61px; */
  padding-top: 24px;
  padding-bottom: 24px;
  width: auto;
}
.panel li svg{
  margin-right: 12px;
  margin-left: 12px;
  top: 0;
}
.panel li{
  font-family: Averta PE bolded;
  line-height: 28px;
}
.panel p{
  color: #2F2F2F;
  line-height: 28px;
  margin-top: 0;
}
.panel p a{
  color: #1474CC;
}
.panel li span{
  align-self: center;
}
/* ANIMATIONS */
 .phone-ring {
    -webkit-animation: phone-ring 2s infinite;
    -webkit-animation-iteration-count:infinite;
    -webkit-box-shadow: 1px 1px 10px #fff;
}
@-webkit-keyframes phone-ring{
  0% {
  }
  10% {
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -o-transform:rotate(3deg);
  }
  20% {
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
  }
  30% {
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -o-transform:rotate(3deg);
  }
   40% {
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
  }
  50% {
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -o-transform:rotate(3deg);
  }
   60% {
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
  }
  70% {
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -o-transform:rotate(3deg);
  }
  80% {
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
  }
  90% {
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -o-transform:rotate(3deg);
  }
   100% {
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
  }
}

/* MEDIA */
@media (max-width: 800px){
  #wrapper{
   margin: 0;
   overflow-x: hidden;
  }
  .f-right{
    float: right;
  }
  svg{
    top:0.4rem;
  }
  .button-container{
    flex-direction: column;
  }
  .video-button{
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .find-button{
    margin-left: 0;
    margin-top: 1rem;
  }
  .input-container input[type="button"], .input-container input[type="search"]{
    border-radius: 0;
    width: auto;
  }
  .map-input-container input[type="button"]{
    width: auto;
  }
  .main-container{
    margin-top: 20px;
  }
  .content-section{
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr;
    text-align: left;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0;
  }
  .content-section img{
    width: 100%;
  }

  .text-container button{
    margin: 0;
  }
  h3{
    text-align: left;
    margin-left: 16px
  }
  .title-category h3{
    margin-left: 0;
  }
  .contact{
    text-align: left;
    margin-left: 16px;
  }
  .phone-svg{
    right: 0;
  }
  .phone-span{
    left: 0;
    top: 0;
  }
  .map-p{
    text-align: left;
    margin: 16px;
    font-size: 18px;
    margin-bottom: 32px;
  }
  .profile-container{
    grid-template-columns: 1fr;
    grid-gap: 5rem;
}
.about-container{
  grid-template-columns: 1fr;
  grid-gap: 5rem;
}
.about-container p{
  text-align: left;
}
.footer-icons-container{
  padding: 32px;
  grid-template-columns: 1fr;
  grid-gap: 0;
}
.bottom-navigation{
  margin-right: 32px;
    margin-left: 32px;
}
footer ul li a{
  padding: 0;
}
.icon-footer:first-of-type{
  justify-self: center;
}
.icon-footer:last-of-type{
  justify-self: center;
}
footer .bottom-navigation ul{
flex-direction: column;
}
footer .bottom-navigation ul li{
padding: 1rem;
text-align: left;
}
.err-content{
  width: auto;
  margin-left: 16px;
}
.back-href_container p{
  margin-left: 16px;
}

/* HELP */
.faq-wrapper{
  margin: 0;
}
.img-contact{
  max-width: 100%;
}
.title{
  padding: 0;
  margin-top: 30px;
}
.title h3{
  text-align: left;
  margin-left: 16px;
}
.text-container {
  margin: 0;
}
.map-section{
  margin-right: 16px;
  margin-left: 16px;
}
/* SIDEMENU */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 65px;
    width: 100%;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    transition: 0.3s;
    text-align: left;
  }
  .overlay li{
    padding: 20px;
  }
  .overlay li:first-of-type{
    margin-bottom: 80px;
  }
  .overlay ul{
    padding: 0;
  }

.overlay a:hover, .overlay a:focus {
    color: #19568E;
}

.overlay .closebtn {
  font-size: 40px;
    float: right;
    margin-right: 16px;
}
.hided{
  display:block;
  margin-left: 16px;
    margin-right: 16px;
  margin-top: 20px;
}
.hided img{
  margin-top: 8px;
}
header img{
  width: 230px;
  margin-right: 30px;
}
header ul{
flex-direction: column;
align-items: start;
}
header ul li:first-child{
  display: none;
}
/* REGULAMIN */
.regulamin-wrapper{
  width: 90%;
  margin: 0;
  margin-left: 16px;
  margin-right: 16px;
}
/* CATEGORIES */
#category-container{
  grid-template-columns: 1fr 1fr;
  width: auto;
  gap: 20px 50px;
  margin: 0 16px 0 16px;
}
.title-category{
  width: auto;
  margin-left: 16px;
}
/* ACC */
.acc-container{
  width: 90%;
}
.accordion {
    font-size: 15px;

}
/* .panel{
  padding-left: 24px;
} */
.panel img{
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}
.panel ul{
  padding-left: 0;
}
.panel ul svg{
  top:0;
  margin-left: 0;
  margin-right: 0;
  align-self: start;
}
.panel ul li{
  grid-template-columns: 1fr 5fr;
}
.panel li span {
    align-self: start;
}
.panel p{
  margin-left: 0;
}
#bodyContent{
  grid-template-columns: 1fr;
}
}
@media(min-width: 800px) and (max-width: 1024px){
  header ul li a{
    padding: 1rem;
  }
  #logo-change{
    width: 200px;
  }
  .acc-container{
    width: 60%;
  }
  .panel img{
    width: auto;
  }
  .panel ul{
    padding-left: 0;
  }

}
@media(min-width: 1024px) and (max-width: 1430px) {
  #wrapper{
    margin: 0;
  }
  .rule-desc{
    margin-left: 200px;
    margin-right: 200px;
  }
  .img-contact{
    align-self: start;
  }
  .contact h3{
    margin-top: 0;
  }
}
  @media(min-width: 1024px) and (max-width: 1430px) {
    #wrapper{
      margin: 0;
    }
    /* #logo-change{
      width: 200px;
    } */
  .contact ul li{
    white-space: nowrap;
  }
  .acc-container{
    width: 60%;
  }
}
@media(min-width: 750px) and (max-width: 1025px) {
  .panel img {
    margin-left: 109px;
    width: 50%;
}
}
