
@font-face {
font-family: 'Averta PE';
src: url('My_Fontspring_Fonts/Fonts/avertape-regular.otf'),
    url('My_Fontspring_Fonts/Webfonts/avertape_regular_macroman/avertape-regular-webfont.woff2') format('woff2'),
    url('My_Fontspring_Fonts/Webfonts/avertape_regular_macroman/avertape-regular-webfont.woff') format('woff');
}
@font-face {
font-family: 'Averta PE bolded';
src: url('My_Fontspring_Fonts/Fonts/avertape-bold.otf'),
    url('My_Fontspring_Fonts/Webfonts/avertape_bold_macroman/avertape-bold-webfont.woff2') format('woff2'),
    url('My_Fontspring_Fonts/Webfonts/avertape_bold_macroman/avertape-bold-webfont.woff') format('woff');
}
body{
  margin: 0;
}
html{
  font-size: 16px;
  font-family: Averta PE;
}
*:focus {
    outline: none;
}
html ul{
  list-style: none;
}

.content-section, .profile-section, .about-section{
  margin-left: 10%;
  margin-right: 10%;
}
.content-section{
  display: -ms-grid;
  display: grid;
  grid-row-gap: 205px;
}
.content-section img{
  border-radius: 8px;
}

a{
  color: black;
  text-decoration: none;
}
svg{
  position: relative;
   top: 0.35rem
}
h3{
 font-size: 2rem;
 text-align: center;
 font-family: Averta PE bolded;
 font-weight: normal;
}
/* ios input */
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
.title{
  padding: 4rem;
}
/* HEADER */
header ul{
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  font-family: Averta PE bolded;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}
header ul li:first-child{
  margin-right: auto;
}
header ul li a{
  padding: 2rem;
  color: white;
}
header ul li a:hover{
  color: #8FC9FF;
}
.fixed {
position:fixed;
background-color: white;
/* width: 100%;
transition: 1s ease;
top: -3px; */
z-index: 1;
}
.fixed ul li a{
  color: black;
}
/* SIDEMENU */
.hided{
  display: none;
}
/* SHOWCASE */
.main-container h1{
  line-height: 72px;
  font-size: 4rem;
  font-family: Averta PE bolded;
  color: white;
  font-weight: normal;
}
.main-container{
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding-top: 6rem;
}
#yt-frame:hover{
  cursor: pointer;
}
.first{
  -ms-grid-column-align: center;
      justify-self: center;
}
.main-container p{
  line-height: 32px;
  font-size: 20px;
}
.find-button{
  padding: 1rem 4rem;
  font-size: 1rem;
  font-family: Averta PE bolded;
  line-height: 2rem;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #1474CC;
  background-color: white;
  color: #1474CC;
}
.main-container .find-button{
  border: none;
}
.find-button:hover{
  background-color: #1474CC;
  color: white;
  cursor: pointer;
  border-color: transparent;
}
.background-wrapper{
  background-image: url(imgs/background.jpg);
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(20, 116, 204, 0.8);
          box-shadow: inset 0 0 0 1000px rgba(20, 116, 204, 0.8);
  padding-bottom: 10rem;
  margin-bottom: 140px;
}
.tablet-img{
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}
.tablet-img img{
  width: 62%;
}
/* CONTENT SECTION */
.text-container h3{
  text-align: left;
  font-family: Averta PE bolded;
}
.content{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}
.content-2 .content-img{
  -ms-grid-column-align: end;
      justify-self: end;
}
.content-img img{
  width: 100%;
}
.content-img:last-of-type{
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
.text-container{
  margin: 75px;
  margin-top: 0;
  margin-bottom: 0;
}
.text-container p{
  font-size: 18px;
  line-height: 28px;
}
.text-container ul li{
  line-height: 28px;
}
.text-container ul{
  padding-left: 0;
}
.content > :nth-child(1){
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.content > :nth-child(1){
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.content-2 > :nth-child(1){
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1
}
.content-2 > :nth-child(2){
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2
}
/* PROFILES SECTION */

.profile-container{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10rem 1fr 10rem 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10rem;

}
.profile {
  text-align: center;
}
.profile p{
  text-align: left;
  margin-left: 2rem;
}
.profile p:first-of-type{
  text-align: left;
  margin-left: 2rem;
  /* margin-top: -2rem; */
  line-height: 2rem;
  border-top: 4px solid #0AC6FF;
}
.profile p:nth-of-type(2){
  font-family: Averta PE bolded;
}
.profile svg{
  display: block;
  text-align: center;
}
/* CONTACT */
.contact ul li{
  color: #2F2F2F;
  font-family: Averta PE bolded;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.contact ul li svg{
  margin-right: 1rem;
}
.contact-bottom-text{
color: #7C7C7C;
font-size: 14px !important;
font-weight:normal;
padding-top: 1rem;
}
/* FAQ */
.faq-wrapper{
  margin-right: 20%;
  margin-left: 20%;
  line-height: 28px;
  color: #2F2F2F;
}
.faq-content ul li:first-of-type{
  color: #2F2F2F;
  line-height: 32px;
  font-size: 20px;
  font-family: Averta PE bolded;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.img-contact{
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

/* MAP */
.map-section{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  background-image: url(imgs/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  margin-right: 24px;
  margin-left: 24px;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(10, 198, 255, 0.4);
          box-shadow: inset 0 0 0 1000px rgba(10, 198, 255, 0.4);
  border-radius: 8px;
}
.map-p{
  text-align: center;
  margin: 16px;
  font-size: 18px;
}
.map-p span{
  color: #1474CC;
  font-family: Averta PE bolded;
  font-size: 18px;
}
.input-container{
  text-align: center;
  margin-top: 160px;
}
.input-container input[type="text"], .input-container input[type="button"] {
  margin: 0;
  width: 311px;
  padding: 15px;
  border: none;
  font-family: Averta PE;
  line-height: 24px;
  font-size: 16px;
  border-radius: 8px;
}
.input-container input[type="button"]{
  width: 400px;
  background-color: #1474CC;
  color: white;
  margin: 0;
}
.input-container input[type="button"]:hover{
  cursor: pointer;
  opacity: 1;
}
/* WROTE ABOUT US */
.about-container{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10rem 1fr 10rem 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10rem;
  text-align: center;
  font-family: Averta PE bolded;
  line-height: 32px;
  font-size: 20px;
  margin-bottom: 4rem;
}
.about p:nth-of-type(2){
  line-height: 22px;
  font-size: 14px;
  color: #7C7C7C;
  font-weight: normal;
}
/* FOOTER */
.footer-icons-container{
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 12rem 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12rem;
}
footer{
  white-space: nowrap;
  background: #1474CC;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  margin-top: 6rem;
}
.footer-contact{
  line-height: 40px;
font-size: 24px;
font-family: Averta PE bolded;
}
hr{
  opacity: 0.2;
  width: 85%;
}
footer a{
  color: #FFFFFF;
}
.copyright{
  padding: 20px;
  font-size: 0.8rem;
  margin-bottom: 0;
}
footer .bottom-navigation ul{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
padding: 2rem;
}
footer ul li a{
  padding: 2rem;
}
.icon-footer:first-of-type{
  -ms-grid-column-align: end;
      justify-self: end;
}
.icon-footer:last-of-type{
  -ms-grid-column-align: start;
      justify-self: start;
}
/* GOOGLE MAP */
#content{
  font-family: Averta PE;
}
#firstHeading{
  font-size: 14px;
  margin: 0;
}
#bodyContent{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
  justify-items: center;
}
/* OWLCAROUSEL */
.owl-carousel .owl-stage-outer{
  margin-right: 24px;
  margin-left: 24px;
}
.owl-theme .owl-dots .owl-dot span{
  background: #8FC9FF;
}
.fancybox-button svg{
  top: 2px;
}
.fancybox-button, .fancybox-button:link, .fancybox-button:visited{
  color: #8FC9FF !important;
}
.fancybox-button--play, .fancybox-button--thumbs{
  display: none !important;
}
.owl-carousel .owl-stage-outer{
  border-radius: 8px;
}
.owl-carousel{
  margin-top: -40px;
}
.owl-item img{
  border-radius: 8px;
}
/* MEDIA */
@media (max-width: 800px){
  #wrapper{
   margin: 0;
   overflow-x: hidden;
  }
  .f-right{
    float: right;
  }
  .background-wrapper{
    background-position: 33%;
  }
  header img {
    width: 230px;
    margin-right: 30px;
}
  .main-container{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 0;
    padding-top: 0;
    margin-right: 16px;
    margin-left: 16px;
  }
  .main-container h1{
    font-size: 47px;
    line-height: 52px;
  }
  .first{
    margin: 0;j
    justify-self: start;
    width: 100%;
  }
  .content > :nth-child(1){
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .content > :nth-child(2){
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .content-2 > :nth-child(1){
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .content-2 > :nth-child(2){
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .content-section{
    margin-left: 16px;
    margin-right: 16px;
  }
  h3{
    text-align: left;
    margin-left: 16px;
  }
  .content-section h3{
    margin-left: 0;
  }
  h3{
    text-align: left;
    margin-left: 16px;
  }
  .button-container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .map-p{
    text-align: left;
    margin: 16px;
    font-size: 18px;
    margin-bottom: 32px;
  }
  .video-button{
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .input-container input[type="button"], .input-container input[type="text"]{
    border-radius: 4px;
    position: relative;
    width: auto;
    top: -25px;
  }
  .background-wrapper{
    margin-bottom: 0;
  }
  .content{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: left;
    margin-top: 96px;
  }

  .content-section img{
    width: 100%;
  }
  .content-section{
    grid-row-gap: 0;
  }
  .tablet-img img{
    display: block;
    width: 100%;
  }
  .find-button{
    display: block;
    margin: 60px;
    margin-top: 32px;
    width: 100%;
    padding: 16px 44px;
    margin-left: 0;
  }
  .find-button2{
    padding: 16px 36px;
  }
  .text-container button{
    margin: 0;
  }
  .profile-container{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 5rem;
}
.about-container{
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 5rem;
  margin-left: 1rem;
}
.about-container p{
  text-align: left;
}
.footer-icons-container{
  padding: 2rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 0;
}
.icon-footer:first-of-type{
  -ms-grid-column-align: center;
      justify-self: center;
}
.icon-footer:last-of-type{
  -ms-grid-column-align: center;
      justify-self: center;
}
footer .bottom-navigation ul{
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
}
footer .bottom-navigation ul li{
padding: 1rem;
text-align: left;
}
/* HELP */
.faq-wrapper{
  margin: 0;
}
.img-contact{
  max-width: 100%;
}
.title{
  padding: 0;
  margin-top: 96px;
}
.text-container {
  margin: 0;
}
.map-section{
  margin-right: 16px;
  margin-left: 16px;
  height: 320px;
}
/* SIDEMENU */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 65px;
    width: 100%;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-align: left;
    color: black;
  }
  .overlay li{
    padding: 20px;
  }
  .overlay li:first-of-type{
    margin-bottom: 80px;
  }
  .overlay ul{
    padding: 0;
  }

.overlay a:hover, .overlay a:focus {
    color: #19568E;
}

.overlay .closebtn {
  font-size: 40px;
    float: right;
    margin-right: 16px;
}
.hided{
  display:block;
  padding: 16px;
  margin-top: 0;
}
.hided img{
  margin-top: 8px;
}
header ul{
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-align: start;
    -ms-flex-align: start;
        align-items: start;
}
header ul li:first-child{
  display: none;
}
.content-img{
  -ms-grid-column-align: center;
      justify-self: center;
}
.counting-down{
  font-size: 2rem;
}
/* OWLCAROUSEL */
.owl-carousel .owl-stage-outer{
  margin-left: 16px;
  margin-right: 16px;
}
.owl-carousel{
  margin-top: 0;
}
}
@media(min-width: 800px) and (max-width: 1024px){
  .content-img img{
    width: 100%;
  }
  header ul li a{
    padding: 1rem;
  }
  #logo-change{
    width: 200px;
  }
  .content-img{
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .content-section{
    margin: 0;
  }
  .profile-container{
    grid-gap: 4rem;
  }
  .about-container{
    grid-gap: 4rem;
  }
}
@media(min-width: 1024px) and (max-width: 1430px) {

  .content-img img{
    width: 100%;
  }
  #logo-change{
    width: 90%;
  }
  .content-section{
    grid-row-gap: 135px;
  }
  .profile-container{
    grid-gap: 4rem;
  }
}
img.lazy {
        /* optional way, set loading as background */
        background-image: url(imgs/loader.gif);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
