<h6>Twoja przeglądarka jest przestarzała!</h6>
<p>Zaktualizuj swoją przeglądarkę, aby poprawnie wyświetlić tę stronę. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/pl">Zaktualizuj przeglądarkę już teraz </a></p>
<p class="last"><button id="btnCloseUpdateBrowser" title="Close">&times;</button></p>
