<div id="footer-content-container">
  <div class="footer-icons-container">
  <div class="icon-footer">
    <svg width="138" height="136" viewBox="0 0 138 136" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M120.952 91.2168C101.943 114.197 67.9043 117.416 44.9242 98.4069C21.944 79.3977 18.7249 45.3587 37.734 22.3786" stroke="white" stroke-width="4" stroke-linecap="round"/>
<path d="M90.9057 101.433C115.445 94.8572 130.008 69.6337 123.433 45.0942" stroke="#0AC6FF" stroke-width="4" stroke-linecap="round"/>
<path d="M34.5674 68.9057C31.211 56.3792 33.3626 43.6744 39.5376 33.3628" stroke="#1FD975" stroke-width="4" stroke-linecap="round"/>
<path d="M90.6333 61.9014L96.1929 67.4743C97.2972 68.5847 97.2642 70.4228 96.1189 71.5732L94.4973 73.1006C93.8273 73.6261 93.0546 74.0655 92.228 74.3891C91.4586 74.6886 90.7016 74.8778 89.9116 74.9724C89.5489 75.011 81.1412 75.8008 70.7082 65.3449C63.1606 57.7801 60.3795 52.2054 61.1136 46.1056C61.1993 45.345 61.3868 44.5859 61.688 43.7904C62.0147 42.9547 62.4538 42.1797 62.9792 41.5078L64.5033 39.8857C65.651 38.7351 67.4856 38.7015 68.5904 39.8086L74.1501 45.3821C75.2549 46.4907 75.2232 48.3282 74.0755 49.4788L73.1513 50.4063L71.7093 51.8494C71.4507 52.1082 71.3959 52.5085 71.5727 52.8288L71.5783 52.8388C72.5609 54.6119 73.9051 57.0377 76.4553 59.5933C79.0028 62.1484 81.4237 63.4948 83.1925 64.477C83.519 64.6607 83.9275 64.6025 84.1922 64.3373L86.5461 61.9785C87.6921 60.8296 89.5259 60.796 90.6333 61.9014Z" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

    <p class="footer-contact">+48 68 422 84 01</p>
    </div>
  <div class="icon-footer">
    <svg width="133" height="134" viewBox="0 0 133 134" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M34.3597 26.6742C61.1605 13.5917 93.4922 24.7127 106.575 51.5135C119.657 78.3143 108.536 110.646 81.7354 123.729" stroke="white" stroke-width="4" stroke-linecap="round"/>
<path d="M101.839 61.0679C94.1449 36.8561 68.2797 23.4661 44.0679 31.1606" stroke="#0AC6FF" stroke-width="4" stroke-linecap="round"/>
<path d="M71.9323 118.839C55.903 123.933 39.149 119.786 27.4229 109.375" stroke="#FFCC00" stroke-width="4" stroke-linecap="round"/>
<path d="M40.7827 63.5654L56.7336 76.6162C57.4704 77.219 58.5299 77.219 59.2666 76.6162L75.2175 63.5654" stroke="white" stroke-width="4"/>
<rect x="40" y="62" width="36" height="26.6087" rx="4" stroke="white" stroke-width="4"/>
</svg>

    <p class="footer-contact">info@esize.me</p>
  </div>
  </div>
<div class="bottom-navigation">
  <ul>
    <li><a href="gtk.html"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="12" cy="12" r="9" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<circle cx="12" cy="7" r="1" fill="#FFFFFF"/>
<path d="M12 10V17" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
Poznaj esize.me</a></li>
    <li><a href="mapa.html"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="9" cy="9" r="6" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M14 14L21 21" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"/>
</svg>

Znajdź punkt skanowania</a></li>
    <li><a href="help.html"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="12" cy="12" r="9" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9 10C9 8.34315 10.3431 7 12 7C13.6569 7 15 8.34315 15 10C15 11.6569 13.6569 13 12 13V14" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<circle cx="12" cy="17" r="1" fill="#FFFFFF"/>
</svg>
Pomoc</a></li>
    <li><a href="regulamin.html"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9 8H10" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M9 12H15" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M9 16H15" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M7 21H17C18.1046 21 19 20.1046 19 19V7.82843C19 7.29799 18.7893 6.78929 18.4142 6.41421L15.5858 3.58579C15.2107 3.21071 14.702 3 14.1716 3H7C5.89543 3 5 3.89543 5 5V19C5 20.1046 5.89543 21 7 21Z" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M14 3V8H19" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
Regulamin</a></li>
  </ul>
</div>


<hr>
<p class="copyright">esize.me Copyright 2018</p>
    </div>
