
<script src="js/jquery.sticky.js"></script>
<script type="text/javascript">
if ($(window).width() > 800){
$(document).ready(function(){
  $("#navigation").sticky({topSpacing:0});
});
$('#navigation').css("box-shadow", "rgba(60, 67, 73, 0.09) 0px 3px 5px 1px")
}
if ($(window).width() < 800){
$(document).ready(function(){
  $("#navigation").unstick();
  $('#logo-change').attr("src","imgs/new_logo_white.svg");
});
}
if(window.location['pathname'] == "/" && $(window).width() > 800 ) {
  $(document).ready(function(){
    $("#navigation").sticky({topSpacing:0});
    $('#navigation').css("box-shadow", "none")
    $('#logo-change').attr("src","imgs/new_logo_white.svg");
  });
$('#navigation').on('sticky-start', function() {
  $('#navigation').css("transition-duration", "1s")
  $('#navigation').css("transition-timing-function", "ease")
  $('#navigation').css("background-color", "white")
   $('#navigation a').css("color", "black")
   $('#navigation').css("box-shadow", "rgba(60, 67, 73, 0.09) 0px 3px 5px 1px")
   $('#logo-change').attr("src","imgs/new_logo_color.svg");
 });
 $('#navigation').on('sticky-end', function() {
    $('#navigation').css("background-color", "transparent")
    $('a').css("color", "white")
    $('#logo-change').attr("src","imgs/new_logo_white.svg")
    $('#navigation').css("box-shadow", "none");
  });
}
if(window.location['pathname'] == "/") {
  $('.hided img').attr("src","imgs/new_logo_white.svg");
  $('.hided').css("color","white");
  $('.closebtn').css("color","black");
}
</script>
<span class="hided" style="font-size:30px;cursor:pointer;color:black;" onclick="openNav()"><a href="/"><img src="imgs/new_logo_color.svg" alt=""></a><span class="f-right">&#9776;</span></span>
  <div id="navigation" class="overlay">
    <a href="javascript:void(0)" class="closebtn hided" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
  <ul>
    <li class="logo"><a href="/"><img id="logo-change" src="imgs/new_logo_color.svg" alt=""></a></li>
    <li><a href="gtk.html"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="12" cy="12" r="9" stroke="#8FC9FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <circle cx="12" cy="7" r="1" fill="#8FC9FF"/>
      <path d="M12 10V17" stroke="#8FC9FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    Poznaj esize.me</a></li>
    <li><a href="mapa.html"><svg class="pulse" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="9" cy="9" r="6" stroke="#8FC9FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M14 14L21 21" stroke="#8FC9FF" stroke-width="2" stroke-linecap="round"/>
    </svg>
    Znajdź punkt skanowania</a></li>
    <li><a href="help.html"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="12" cy="12" r="9" stroke="#8FC9FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M9 10C9 8.34315 10.3431 7 12 7C13.6569 7 15 8.34315 15 10C15 11.6569 13.6569 13 12 13V14" stroke="#8FC9FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <circle cx="12" cy="17" r="1" fill="#8FC9FF"/>
    </svg>
    Pomoc</a></li>
    <li><a href="regulamin.html"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9 8H10" stroke="#8FC9FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M9 12H15" stroke="#8FC9FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M9 16H15" stroke="#8FC9FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M7 21H17C18.1046 21 19 20.1046 19 19V7.82843C19 7.29799 18.7893 6.78929 18.4142 6.41421L15.5858 3.58579C15.2107 3.21071 14.702 3 14.1716 3H7C5.89543 3 5 3.89543 5 5V19C5 20.1046 5.89543 21 7 21Z" stroke="#8FC9FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M14 3V8H19" stroke="#8FC9FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

    Regulamin</a></li>
  </ul>
  </div>
</div>
<style media="screen">
  .pulse {
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(143, 201, 255, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(143, 201, 255, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(143, 201, 255, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(143, 201, 255, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(143, 201, 255, 0.4);
    box-shadow: 0 0 0 0 rgba(143, 201, 255, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(143, 201, 255, 0);
      box-shadow: 0 0 0 10px rgba(143, 201, 255, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(143, 201, 255, 0);
      box-shadow: 0 0 0 0 rgba(143, 201, 255, 0);
  }
}
</style>
